.App {
  text-align: center;
}

.closedparcel {
    position:relative;
    height: 250px;
    width: 250px;
}

.poggies1 {
    color:gold;
    font-size:75px;
    font-family: Gyre Schola serif;
    position: absolute;
    left:650px;
    top:44px;
}

.poggies2 {
    color:gold;
    font-size:75px;
    font-family: Gyre Schola serif;
    position: absolute;
    left:650px;
    top:296px;
}

.poggies3 {
    color:gold;
    font-size:75px;
    font-family: Gyre Schola serif;
    position: absolute;
    left:650px;
    top:544px;
}

.topparcelheader {
    color:gold;
    font-size:60px;
    font-family: Gyre Schola serif;
}

.topparcelchallenge {
    color: gold;
    left:-100px;
    font-family: Andale Mono;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
