.App {
  text-align: center;
}

.closedparcel {
    position:relative;
    height: 250px;
    width: 250px;
}

.refresh {
    position:absolute;
    left:570px;
    bottom:30px;
    height: 60px;
    width: 60px;
}

.upload {
    position:absolute;
    left:780px;
    bottom:30px;
    height: 70px;
    width: 70px;
}

.hashtag1 {
    position:absolute;
    color:#7c795d;
    font-size:75px;
    font-family: Trocchi;
    right:70px;
    top:44px;
}
.hashtag2 {
    position:absolute;
    color:#7c795d;
    font-size:75px;
    font-family: Trocchi;
    right:70px;
    top:296px;
}
.hashtag3 {
    position:absolute;
    color:#7c795d;
    font-size:75px;
    font-family: Trocchi;
    right:70px;
    top:544px;
}

.poggies1 {
    color:#7c795d;
    font-size:75px;
    font-family: Trocchi;
    position: absolute;
    left:600px;
    top:44px;
}

.poggies2 {
    color:#7c795d;
    font-size:75px;
    font-family: 'Trocchi';
    position: absolute;
    left:600px;
    top:296px;
}

.poggies3 {
    color:#7c795d;
    font-size:75px;
    font-family: Gyre Schola serif;
    position: absolute;
    left:600px;
    top:544px;
}

.topparcelheader {
    color:#7c795d;
    font-size:60px;
    top:200px;
    font-family: Trocchi;
}

.topparcelchallenge {
    color: orange;
    left:-100px;
    font-family: Andale Mono;
}

.cheesecakeRecipe {
    color:#7c795d;
    font-size:25px;
    font-family: Gyre Schola serif;
}

.cheesecakeHeader {
    color:#7c795d;
    font-size:40px;
    top:200px;
    font-family: Gyre Schola serif;
}

.cheesecake3 {
    position:absolute;
    left:380px;
    bottom:95px;
}
.cheesecake2 {
    position:absolute;
    left:850px;
    bottom:65px;
}
.cheesecake1 {
    position:absolute;
    bottom:85px;
    top:45px;
}

.home {
    position: absolute;
    left:30px;
    top:10px;
    height:60px;
    width:60px;
}

.App-header {
  background-color: #fff4a3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
